<app-breadcrumbs title="Liste des utilisateurs par rôle" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div>
    <app-reusable-table 
    [data]="listUser" 
    [columns]="columns"
    [title]="'Liste des utilisateurs par rôle'" 
    [actions]="actions" 
    (actionClicked)="onAction($event)"
    (search)="onFilterChange($event)"    
    >
    </app-reusable-table>
</div>
<div class="d-flex justify-content-between align-items-center mt-4 pt-2 flex-wrap" id="pagination-element">
  <!-- Bouton Retourne -->
  <div class="mb-2">
    <a class="btn btn-light d-flex align-items-center" routerLink="/users/role">
      <i class="bx bx-left-arrow-alt align-baseline me-1"></i> Retourne
    </a>
  </div>
  <!-- Pagination -->
  <div>
    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [page]="roleUserPage"
      (onPageNumberChange)="onPageNumberChange($event)" (onPageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
  </div>
</div>

<app-confirm-dialog #deleteModal></app-confirm-dialog>
  